<head>
  <title>Анус себе заблокируй</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body><img id="rdog" src="img/resistance.jpg">
<div class="ya-share2" id="share" data-description="Цензура - это отвратительно!" data-lang="ru" data-image="https://anussebezablokiruy.com/img/resistance.jpg" data-counter="" data-services="vkontakte,facebook,twitter,lj,viber,whatsapp,skype,telegram"></div>
<div id="appeal">
  <div class="appeal-text">
    <p class="text">13 апреля Таганский суд Москвы удовлетворил иск Роскомнадзора о немедленной блокировке мессенджера Telegram. Утром 16 апреля Роскомнадзор начал рассылать провайдерам требования о блокировке IP-адресов серверов самого мессенджера, а затем и адреса облачных сервисов, которые Telegram использовал для обхода блокировок. К вечеру следующего дня в реестре оказалось более 20 000 000 IP-адресов, лишь мизерная часть которых принадлежала непосредственно Telegram.</p>
    <p class="text">Роскомнадзор и его руководитель Александр Жаров утверждают, что массовые блокировки IP-адресов не затрагивают работу сторонних компаний, а если такое и происходит, то виноваты лишь временные технические недоработки их сервиса.</p>
    <p class="text">Не будем вдаваться в тонкости происходящего безумия и просто хотим заявить, что:</p>
  </div>
  <ul class="appeal-quote">
    <li class="text">Мы считаем, что цензура — это отвратительно.</li>
    <li class="text">Мы считаем, что люди причастные к работе Роскомнадзора не должны иметь даже мизерных шансов на работу в IT-сфере (да и в любой другой сфере тоже).</li>
    <li class="text">
      Мы пострадали от действий Роскомнадзора и требуем, чтобы данное ведомство было расформировано, а неправомерные блокировки сняты. И шапочку. Желательно из фольги.

    </li>
  </ul>
</div>
{{> applications}}
{{> scripts}}
</body>

<template name="applications">
  <form id="add_form">
    <input id="company_name" name="company" type="text" placeholder="Оставить подпись">
    <button id="add_company" title="Добавить компанию в список">Добавить</button>
  </form>
  <ul id="companies_list">
    {{#each apply in applications}}
      <li class="item">{{apply.text}}</li>
    {{/each}}
  </ul>
  <p class="count">Всего подписалось {{count ".+"}}, среди них:</p>
  <p class="count name">Владимиров Владимировичей - {{count "путин|путлер|путен|путян|пынька|пыня|царь"}}</p>
  <p class="count name">Aлександров Александровичей - {{count "жаров"}}</p>
  <p class="count name">Алексеев Анатольевичей - {{count "навальный|анальный|нэвэльный"}}</p>
</template>
<template name="scripts">
  <div id="script_div"></div>
</template>
